{% extends 'base.html' %}
{% block content %}
{% load static %}
<div id="app">

    <div class="messages mt-2">
        	<div v-for="err_msg in err_messages">
                <div class="alert alert-danger">[[err_msg]]</div>
        </div>
    </div>

    <!--
    <ul class="list-group" v-for="event in events">
        <li class="list-group-item mb-2">[[event.name]]</li>
    </ul>
    -->
    <div v-for="event in events">

        <div v-show="event.detail">
            <div class="card mb-3" >
                <img class="card-img-top" v-bind:src="[[event.image]]" alt="Card image cap">
                <div class="card-body">
                    <div class="card-body-title">
                        <h5 class="card-title">[[event.name]]</h5>
                        <!-- action.options[action.selectedIndex].value -->
                        <button class="btn btn-outline-primary" v-if="!find_user_event_action(event,{{ user.id }})">{{event_user_form.as_p}}</button>
                        <button class="btn btn-outline-success" v-else><span class="material-icons">done</span>[[find_user_event_action(event,{{ user.id }})]]</button>
                    </div>
                    
                    <p class="card-text">[[event.descripton]]</p>
                    <!--<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
                    <ul class="list-group">
                        <li class="list-group-item" v-for="member in event.members">user: [[member.user.username]]</li>
                    </ul>
                </div>
            </div>
            <button v-on:click="event_detail(event)" class="btn btn-primary btn-right">< Back</button>

        
        </div>
        <div v-show="event.card_view">
            <div v-on:click="event_detail(event)" class="card mb-3" >
                <img class="card-img-top" v-bind:src="[[event.image]]" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">[[event.name]]</h5>
                    <p class="card-text">[[event.descripton]]</p>
                    <!--<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
                </div>
            </div>
        </div>
    </div>
<script src="{% static 'vue/list-event-vue.js' %}"></script>
</div>

{% endblock content %}