{% extends 'base.html' %}
{% load crispy_forms_tags%}
{% block content %}
{% load static %}
<div id="app">

    <div class="messages mt-2">
        	<div v-for="err_msg in err_messages">
                <div class="alert alert-danger">[[err_msg]]</div>
        </div>
    </div>

    <!--
    <ul class="list-group" v-for="event in events">
        <li class="list-group-item mb-2">[[event.name]]</li>
    </ul>
    -->
    <div v-for="event in events">

        <div v-show="event.detail">
            <a v-on:click="event_detail(event)" class="btn-detailview-back"><span class="material-icons">arrow_back_ios</span></a>
            <div class="card mb-3" >
                <img class="card-img-top" v-bind:src="[[event.image]]" alt="Card image cap">
                <div class="card-body">
                    <div class="card-body-title">
                        <h4 class="card-title">[[event.name]]</h4>
                        <!-- action.options[action.selectedIndex].value -->
                        <button v-if="!find_eventuser(event,{{ user.id }})" type="button" class="btn btn-outline-secondary" data-toggle="modal" data-target="#action_modal">Teilnehmen</button>
                        <div v-else v-for="(obj,action) in action_btn_dict">
                            <div v-if ="action == find_eventuser(event,{{ user.id }}).action">
                                    <button data-toggle="modal" v-bind:class="concat('btn btn-outline-',obj.class)" class="action-btn" data-target="#action_modal">
                                        <span class="material-icons icon">[[obj.icon]]</span>
                                        <span class="value">[[obj.value]]</span>
                                    </button>
                            </div>
                        </div>
                    </div>
                    <div class="">
                        [[event.date]]
                    </div>
                    <br>
                    <h6>Beschreibung:</h6>
                    <p class="detail-card-description card-text">[[event.descripton]]</p>

                    <div v-if="screen.width < 700">
                        <div id="action-dropdown-btn" class="btn-group dropdown mb-2 nav-action-dropdown black">
                            <button type="button" class="btn btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              [[dropdownlabel]]
                            </button>
                            <div class="dropdown-menu">
                              <!-- Dropdown menu links -->
                              <a v-bind:id="concat(event.id,'all')" v-on:click="sort_members(event,'all')" class="nav-link">All</a>
                              <a v-for="(obj,action) in action_btn_dict" v-bind:id="concat(event.id,action)" v-on:click="sort_members(event,action)" class="nav-link">[[obj.value]]</a>
                            </div>
                          </div>
                    </div>
                    <div v-else>
                        <ul class="nav nav-tabs">
                            <li class="nav-item">
                                <a v-bind:id="concat(event.id,'all')" v-on:click="sort_members(event,'all')" class="nav-link active">All</a>
                            </li>
                            <li class="nav-item" v-for="(obj,action) in action_btn_dict">
                            <a v-bind:id="concat(event.id,action)" v-on:click="sort_members(event,action)" class="nav-link">[[obj.value]]</a>
                            </li>
                        </ul>
                    </div>



                    <ul class="list-group" v-for="member in event.sorted_members">
                        <div v-for="(obj,action) in action_btn_dict">
                            <div v-if ="action == member.action">
                                <li class="list-group-item list-group-item-mem">
                                    [[member.user.first_name]] [[member.user.last_name]]
                                    <span v-bind:class="concat('list-group-item-',obj.class)" class="list-action">[[obj.value]]</span>
                                </li>
                            </div>
                        </div>
                    </ul>

                </div>
            </div>
        
        </div>
        <div v-show="event.card_view">
            <div v-on:click="event_detail(event)" class="card mb-3" >
                <img class="card-img-top" v-bind:src="[[event.image]]" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">[[event.name]]</h5>
                    <p class="card-text">[[event.descripton]]</p>
                    <!--<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="action_modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-body">
                {{event_user_form|crispy}}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button v-on:click="submit_action_modal({{user.id}})" type="button" class="btn btn-primary" data-dismiss="modal">Save changes</button>
            </div>
          </div>
        </div>
      </div>

<script src="{% static 'vue/list-event-vue.js' %}"></script>
</div>

{% endblock content %}